@import "tailwindcss";

/* Dark mode එක class එකක් විදිහට වැඩ කරන්න මේ පේළිය දාන්න */
@variant dark (&:where(.dark, .dark *));

/* ඕන නම් default colors මෙතන ලියන්න පුළුවන් */
:root {
  --background: #fcfcfd;
  --foreground: #000000;
}

.dark {
  --background: #0f172a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}